body {
    background-color: yellow;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.extreme {
    color: red;
    text-align: center;
}

#head1 {
    font-size: 15px;
}

h2 {
    color: orange;
    font-size: 1em;
}

h3 {
    color: blue;
    font-size: 1em;
}

#tehlulz {
    list-style-type: lower-roman;
}

a {
    color: green;
}

ul {
    list-style-type: upper-roman;
}

.content{
    border: 10px solid lightsteelblue;
}

.prose {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}