body {
    background-color: #C0E0DE;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.extreme {
    color: #3C474B;
    text-align: center;
}

#head1 {
    font-weight: bold;
}

h2 {
    color: #3C474B;
    font-size: 20px;
}

h3 {
    color: #3C474B;
    font-size: 20px;
}

#tehlulz {
    list-style-type: circle;
}

a {
    color: #4F7CAC;
}

ul {
    list-style-type: square;
}

.content {
    border: 2px solid lightsteelblue;
}

.prose {
    color: #3C474B;
}